<!DOCTYPE html>
<html lang="en"
      xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dierenshop</title>
    <base href="/">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

<!-- NAVBAR -->
<div th:insert="~{ navbar :: navbar }"></div>

<!-- PAGINA inhoud -->
<div class="container" style="min-height: 100vh">

<!-- FILTER KNOPPEN -->
    <p th:text="#{indexpagina.filtertekst}"/>

    <a class="btn btn-outline-secondary" th:each="categorie: ${categories}" th:href="'/categorie/'+${categorie}"
       th:text="${categorie}"></a>
    <a class="btn btn-outline-secondary" th:each="dier: ${dieren}" th:href="'/dier/'+${dier}" th:text="${dier}"></a>
    <a class="btn btn-outline-success" href="/home" th:text="#{indexpagina.alles}"></a>
    <br>
<!-- WINKELWAGEN KNOP -->
    <a class="button" href="/winkelwagen" th:text="#{indexpagina.winkelwagen}"></a>

    <h5 th:text="${filter} ? #{indexpagina.filtered} +${filter} : ''"></h5>

<!-- ARTIKELEN -->
    <div class="row">
        <div class="col-4" style="margin-bottom: 5px" th:each="product: ${all}">
            <div class="card">
                <div class="card-header" th:text="${product.naam}+' ~ €'+${product.prijs}">
                </div>
                <div class="card-body">
                    <p class="card-text" th:text="${product.omschrijving}"></p>
                    <a th:href="'/winkelwagen/'+${product.id}" class="btn btn-outline-primary" th:text="#{indexpagina.toevoegenwinkelwagen}"></a>
                </div>
                <div class="card-footer">
                    <small class="text-muted" th:text="'DIER: '+${product.dier}+' - CATEGORIE: '+${product.categorie} "></small>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- FOOTER -->
<div th:insert="~{ footer :: footer }"></div>


</body>
</html>