<!DOCTYPE html>
<html lang="en"
      xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dierenshop</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"></head>
<body>

<!-- NAVBAR -->
<div th:insert="~{ navbar :: navbar }"></div>

<!-- PAGINA inhoud -->
<div class="container" style="min-height: 100vh">
    <!--    TODO : internationalisatie!
    ToDO: login knop maken in navbar
    TODO : toevoegen aan winkelwagen enkel wanneer ingelogd
    TODO : index pagina tonen ook wanneer men nog niet is ingelogd -->

    <h1>Welkom op onze dierenshop</h1>
    <br>

<!-- FILTER KNOPPEN -->
    <p> Bekijk enkel de producten voor:</p>

    <a class="btn btn-outline-secondary" th:each="categorie: ${categories}" th:href="'/categorie/'+${categorie}"
       th:text="${categorie}"></a>
    <a class="btn btn-outline-secondary" th:each="dier: ${dieren}" th:href="'/dier/'+${dier}" th:text="${dier}"></a>
    <a class="btn btn-outline-success" href="/home">Alles</a>
    <br>
<!-- WINKELWAGEN KNOP -->
    <a class="button" href="/winkelwagen">Bekijk winkelwagen</a>

    <h5 th:text="${filter} ? 'Gefilterd op '+${filter} : ''"></h5>

<!-- ARTIKELEN -->
    <div class="row">
        <div class="col-4" style="margin-bottom: 5px" th:each="product: ${all}">
            <div class="card">
                <div class="card-header" th:text="${product.naam}+' ~ €'+${product.prijs}">
                </div>
                <div class="card-body">
                    <p class="card-text" th:text="${product.omschrijving}"></p>
                    <a th:href="'/'+${product.id}" class="btn btn-outline-primary">Toevoegen aan winkelwagen</a>
                </div>
                <div class="card-footer">
                    <small class="text-muted" th:text="'DIER: '+${product.dier}+' - CATEGORIE: '+${product.categorie} "></small>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- FOOTER -->
<div th:insert="~{ footer :: footer }"></div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>