<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<!-- th:fragment zorgt ervoor dat we dit onderdeel op andere pagina's gemakkelijk kunnen inladen met <div th:insert="~{ navbar :: navbar }"></div> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navbar">

    <a class="navbar-brand">DIERENWEBSHOP</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

            <!-- show home link, zichtbaar ook voor niet ingelogde gebruikers -->
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>

            <!-- show winkelwagen link, zichtbaar ook voor niet ingelogde gebruikers -->
            <li class="nav-item">
                <a class="nav-link" href="/winkelwagen" th:text="#{navbar.winkelwagen}">
                    <!-- T: Winkelwagen -->
                </a>
            </li>

            <!-- als user niet is ingelogd, show login knop -->
            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="btn btn-primary btn-margin" id="qsLoginBtn" th:href="@{/oauth2/authorization/auth0}">
                    Login
                </a>
            </li>

            <!-- als user is ingelogd, show profiel link -->
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" href="/profiel" th:text="#{navbar.profiel}">
                    <!-- T: profiel -->
                </a>
            </li>

            <!-- als user is ingelogd, show logout knop -->
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="btn btn-secondary btn-margin" id="qsLogoutBtn" th:href="@{/logout}">
                    Log out
                </a>
            </li>

        </ul>
    </div>
</nav>
</html>