<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <meta charset="UTF-8">

    <title>Nieuw Product</title>
</head>

<body>
<!-- Nav bar -->
<div th:insert="~{ navbar :: navbar }"></div>

<div class="container" style="min-height: 100vh">

    <!-- Deze pagina werd niet vertaald omdat deze niet voor de klanten bestemd is -->
    <h1>Voeg nieuw product toe</h1>
    <!-- thymeleaf object, zorgt voor een object waaraan de verschillende fields gekoppeld kunnen worden om door te sturen naar de controller -->
    <!--        asterisk verwijst naar props van object (object is in header form)-->
    <form method="post" th:action="@{~/nieuwProduct}" th:object="${nieuwProduct}">

        <div class="form-group">
            <label for="naam" th:text="naam"></label>
            <input class="form-control" id="naam" th:field="*{naam}" type="text">
            <span th:errors="*{naam}" th:if="${#fields.hasErrors('naam')}"></span>
        </div>
        <br>

        <div class="form-group">
            <label for="omschrijving" th:text="omschrijving"></label>
            <textarea class="form-control" cols="50" id="omschrijving" rows="5" th:field="*{omschrijving}"></textarea>
        </div>
        <br>

        <div class="form-group">
            <label for="prijs" th:text="prijs"></label>
            <input class="form-control" id="prijs" th:field="*{prijs}" type="text"></input>
            <span class="ui-state-error-text" th:errors="*{prijs}" th:if="${#fields.hasErrors('prijs')}"></span>
        </div>
        <br>

        <div class="form-group">
            <label for="dier" th:text="dier"></label>
            <select class="form-control" id="dier" th:field="*{dier}">
                <!-- Voor elk dier, maak een optie aan -->
                <option th:each="dier: ${dieren}" th:text="${dier}" th:value="${dier}"></option>
            </select>
        </div>
        <br>

        <div class="form-group">
            <label for="categorie" th:text="categorie"></label>
            <select class="form-control" id="categorie" th:field="*{categorie}">
                <!-- Voor elk categorie, maak een optie aan -->
                <option th:each="categorie: ${categories}" th:text="${categorie}" th:value="${categorie}"></option>
            </select>
        </div>

        <button class="btn btn-primary" type="submit">submit</button>
        <!--        <input type="submit">-->

    </form>
</div>

<!-- Footer -->
<div th:insert="~{ footer :: footer }"></div>

</body>
</html>