<!DOCTYPE html>
<html lang="en"
      xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Winkelwagen</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"></head>
<body>
<div th:insert="~{ navbar :: navbar }"></div>
<div class="container" style="min-height: 100vh">


    <h1 th:text="#{ob.orderbevestiging}"></h1>
    <br>
    <h4 th:text="#{ob.textbevestiging}"></h4>

    <p th:text="#{ob.orderdatum} + ${#temporals.format(bestelling.datumAangemaakt, 'dd-MM-yyyy')}"></p>
    <div class="row">
        <div class="col-3">
            <h5>Item</h5>
        </div>
        <div class="col-5">
            <h5 th:text="#{ob.omschrijving}"></h5>
        </div>
        <div class="col-2">
            <h5 th:text="#{ob.prijs}"></h5>
        </div>
    </div>
    <div class="row" th:each="product: ${bestelling.orderDetails}">
        <div class="col-3">
            <p th:text="${product.naam}"/>
        </div>
        <div class="col-5">
            <p th:text="${product.omschrijving}"/>
        </div>
        <div class="col-2">
            <p th:text="'€ '+${product.prijs}"/>
        </div>
    </div>

    <h6 th:text="#{ob.totaalprijs}+${#numbers.formatDecimal(bestelling.totaalbedrag, 1, 2)}+' euro'"/>
    <span th:if="${bestelling.levering}" th:text="#{ob.huislevering}"></span>
    <span th:unless="${bestelling.levering}" th:text="#{ob.ophalingwinkel}"></span>

</div>
<div th:insert="~{ footer :: footer }"></div>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>