<!DOCTYPE html>
<html lang="en"
      xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Winkelwagen</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"></head>
<body>
<div th:insert="~{ navbar :: navbar }"></div>
<div class="container">
    <!--    TO DO : internationalisatie!-->
    <h1>Orderbevestiging</h1>
    <br>
    <p>Bedankt. Je aankoop werd gebevestigd.
        Hieronder vind je het overzicht van je bestelling.</p>
    <table>
        <tr>
            <td>Item</td>
            <td>Prijs</td>
        </tr>

        <tr th:each="product: ${cart}">
            <td th:text="${product.naam}"></td>
            <td th:text="${product.prijs}"></td>
        </tr>
    </table>
    <p>totaalprijs : </p><p th:text="${totaalprijs}"/>


</div>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>