<!DOCTYPE html>
<html lang="en"
      xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>Profiel</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"></head>
<body>

<div th:insert="~{ navbar :: navbar }"></div>

<div class="container" style="min-height: 100vh">

    <div class="container">
        <a href="/logout">Log out</a>
    </div>

    <h2>Gegevens auth0:</h2>
    <!--/*@thymesVar id="profile" type="model_user"*/-->
    <p th:text="${authprofile.get('name')}"></p>
    <p th:text="${authprofile.get('email')}"></p>
    <p th:text="${authprofile.get('nickname')}"></p>
    <p th:text="${authprofile.get('sub')}"></p>
    <p th:text="${authprofile.get('identities[user_id]')}"></p>
    <h2>Gegevens userdatabase:</h2>
    <p th:text="${userprofile.auth_id}"></p>
    <p th:text="${userprofile.familienaam}"></p>
    <p th:text="${userprofile.straat}"></p>
    <p th:text="${userprofile.gemeente}"></p>
    <h2 th:text="#{profiel.bestellingen}"></h2>

    <div style="margin-bottom: 5px" th:each="orders: ${userprofile.orders}">
        <div class="card">
            <div class="card-header" th:text="'Bestelling referentie '+${orders.id}+ #{profiel.totaal}+${orders.totaalbedrag}">
            </div>
            <div class="card-body" >
                <p th:each="detail: ${orders.orderDetails}" class="card-text" th:text="${detail.naam}+' ~ € '+${detail.prijs}"></p>
            </div>
            <div class="card-footer">
                <small class="text-muted" th:text="#{profiel.besteldop}+${#temporals.format(orders.datumAangemaakt, 'dd-MM-yyyy')}+ #{profiel.leveroptie}+(${orders.levering}? #{profiel.thuislevering} : #{profiel.ophalenwinkel})"></small>
            </div>

        </div>
    </div>
</div>
</body>
</html>