<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">

    <title>Profiel</title>

</head>
<body>

<!-- nav bar -->
<div th:insert="~{ navbar :: navbar }"></div>

<div class="container" style="min-height: 100vh">

    <h2>Gegevens auth0:</h2>

    <p th:text="'Naam : '+${authprofile.get('name')}"></p>
    <p th:text="'Email :'+${authprofile.get('email')}"></p>
    <p th:text="'Nickname : '+${authprofile.get('nickname')}"></p>
    <p th:text="'Auth_id : '+${sub}"></p>

    <h2>Gegevens userdatabase:</h2>

    <!--  SHOW formulier als User nog niet is aangemaakt in de local db-->
    <span th:unless="${userprofile} != null">
        <h3 th:text="#{profiel.vulgegevensaan}"/>
        <!--  T: Je profiel is nog niet volledig. Vul je gegevens aan. -->

        <form method="post" th:action="@{~/updateUser}">
                <div class="form-group">
                    <label for="naam" th:text="#{profiel.familienaam}"></label>
                    <input class="form-control" id="naam" name="naam" type="text" required>
                </div>
                <br>

                <div class="form-group">
                    <label for="voornaam" th:text="#{profiel.voornaam}"></label>
                    <input class="form-control" id="voornaam" name="voornaam" type="text" required>
                </div>
                <br>

                <div class="form-group">
                    <label for="email" th:text="E-mail"></label>
                    <input class="form-control" id="email" name="email" type="email" required>
                </div>
                <br>

                <div class="form-group">
                    <label for="tel" th:text="#{profiel.telefoonnummer}"></label>
                    <input class="form-control" id="tel" name="tel" type="text" required>
                </div>
                <br>

                <div class="form-group">
                    <label for="straat" th:text="#{profiel.straat}"></label>
                    <input class="form-control" id="straat" name="straat" type="text" required>
                </div>
                <br>

                <div class="form-group">
                    <label for="huisnummer" th:text="#{profiel.huisnummer}"></label>
                    <input class="form-control" id="huisnummer" name="huisnummer" type="text" required>
                </div>
                <br>

                <div class="form-group">
                    <label for="bus" th:text="#{profiel.bus}"></label>
                    <input class="form-control" id="bus" name="bus" type="text">
                </div>
                <br>

                <div class="form-group">
                    <label for="postcode" th:text="#{profiel.postcode}"></label>
                    <input class="form-control" id="postcode" name="postcode" type="text" required>
                </div>
                <br>

                <div class="form-group">
                    <label for="gemeente" th:text="#{profiel.gemeente}"></label>
                    <input class="form-control" id="gemeente" name="gemeente" type="text" required>
                </div>
                <br>

            <!-- BUTTON bevestig -->
            <button class="btn btn-primary" th:text="#{profiel.opslaan}" type="submit">
                <!-- T: Opslaan -->
            </button>
        </form>
    </span>

    <!--   SHOW als User al is aangemaakt in de local db-->
    <span th:if="${userprofile} != null">
        <p th:text="'Auth_id : '+${userprofile.auth_id}"></p>
        <p th:text="#{profiel.familienaam}+' : '+${userprofile.familienaam}"></p>
        <p th:text="#{profiel.voornaam}+' : '+${userprofile.voornaam}"></p>
        <p th:text="'Email : '+${userprofile.mail}"></p>
        <p th:text="#{profiel.telefoonnummer}+' : '+${userprofile.telefoonnummer}"></p>
        <p th:text="#{profiel.straat}+' : '+${userprofile.straat}"></p>
        <p th:text="#{profiel.huisnummer}+' : '+${userprofile.huisnummer}"></p>
        <p th:text="#{profiel.bus}+' : '+${userprofile.bus}"></p>
        <p th:text="#{profiel.postcode}+' : '+${userprofile.postcode}"></p>
        <p th:text="#{profiel.gemeente}+' : '+${userprofile.gemeente}"></p>

        <h2 th:text="#{profiel.bestellingen}"><!--  T: Bestellingen --></h2>

        <!-- Maak voor elke bestelling een card aan -->
        <div style="margin-bottom: 5px" th:each="orders: ${userprofile.orders}">
            <div class="card">
                <div class="card-header"
                     th:text="#{profiel.besteldetail}+' : '+${orders.id}+ #{profiel.totaal}+${#numbers.formatDecimal(orders.totaalbedrag, 1, 2)}">
                </div>
                <div class="card-body">
                    <!-- Maak voor elk orderdetail in de bestelling een textrij aan -->
                    <p class="card-text" th:each="detail: ${orders.orderDetails}"
                       th:text="${detail.naam}+' ~ € '+${detail.prijs}"></p>
                </div>
                <div class="card-footer">
                    <small class="text-muted"
                           th:text="#{profiel.besteldop}+${#temporals.format(orders.datumAangemaakt, 'dd-MM-yyyy')}+ #{profiel.leveroptie}+(${orders.levering}? #{profiel.thuislevering} : #{profiel.ophalenwinkel})"></small>
                </div>
            </div>
        </div>
    </span>
</div>

<!-- FOOTER -->
<div th:insert="~{ footer :: footer }"></div>
</body>
</html>