<!DOCTYPE html>
<html lang="en"
      xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Winkelwagen</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"></head>
<body>

<!-- NAVBAR -->
<div th:insert="~{ navbar :: navbar }"></div>

<!-- PAGINA inhoud -->
<div class="container" style="min-height: 100vh">
    <!--    TODO : internationalisatie!-->
    <h1>Jouw winkelwagen</h1>
    <br>

    <!-- SHOW ALS winkelwagen leeg is -->
    <span th:unless="${cart} != null">Je winkelwagen is leeg.</span>
    <br>

    <!-- SHOW ALS winkelwagen items bevat -->
    <span th:if="${cart} != null">
        <div class="row">
            <div class="col-3">
                <h5>Item</h5>
            </div>
            <div class="col-5">
                <h5>Omschrijving</h5>
            </div>
            <div class="col-2">
                <h5>Prijs</h5>
            </div>
        </div>
        <div class="row" th:each="product: ${cart}">
            <div class="col-3">
                <p th:text="${product.naam}"/>
            </div>
            <div class="col-5">
                 <p th:text="${product.omschrijving}"/>
            </div>
            <div class="col-2">
                 <p th:text="'€ '+${product.prijs}"/>
            </div>
            <div class="col-2">
                <a th:href="'/winkelwagen/'+${productStat.index}">Verwijder</a>
            </div>
        </div>

        <h6 th:text="'Totaalprijs : '+${totaalprijs}+' euro'"/>
        <br>
        <a href="/orderbevestiging">Bevestig aankoop</a>
    </span>

</div>
<div th:insert="~{ footer :: footer }"></div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>