<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>Winkelwagen</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
</head>
<body>

<!-- NAVBAR -->
<div th:insert="~{ navbar :: navbar }"></div>

<!-- PAGINA inhoud -->
<div class="container" style="min-height: 100vh">

    <h1 th:text="#{ww.titel}">
        <!-- T: Winkelwagen -->
    </h1>
    <br>

    <!-- SHOW ALS winkelwagen leeg is -->
    <span th:text="#{ww.leeg}" th:unless="${cart} != null">
        <!-- T: Je winkelwagen is leeg. -->
    </span>
    <br>

    <!-- SHOW ALS winkelwagen items bevat -->
    <!-- Winkelwagen items -->
    <span th:if="${cart} != null">
        <div class="row">
            <div class="col-3">
                <h5>
                    Item
                </h5>
            </div>
            <div class="col-5">
                <h5 th:text="#{ww.omschrijving}">
                    <!-- T: Omschrijving -->
                </h5>
            </div>
            <div class="col-2">
                <h5 th:text="#{ww.prijs}">
                    <!-- T: Prijs -->
                </h5>
            </div>
        </div>
        <div class="row" th:each="product: ${cart}">
            <div class="col-3">
                <p th:text="${product.naam}"/>
            </div>
            <div class="col-5">
                 <p th:text="${product.omschrijving}"/>
            </div>
            <div class="col-2">
                 <p th:text="'€ '+${product.prijs}"/>
            </div>
            <div class="col-2">
                <a th:href="'/winkelwagen/delete/'+${productStat.index}" th:text="#{ww.verwijder}">
                    <!-- T: Verwijder uit winkelwagen -->
                </a>
            </div>
        </div>

        <h6 th:text="#{ww.totaalprijs}+${#numbers.formatDecimal(totaalprijs, 1, 2)}+' euro'">
            <!-- T: Totaalprijs: 5,55 euro -->
        </h6>
        <br>

        <!-- SHOW login button als user nog niet ingelogd is -->
        <h1>Check-out</h1>
        <p sec:authorize="!isAuthenticated()" th:text="#{ww.login}">
            <!-- T: Log in om je bestelling af te ronden -->
        </p>
        <a class="btn btn-primary btn-margin" id="qsLoginBtn" sec:authorize="!isAuthenticated()"
           th:href="@{/oauth2/authorization/auth0}">Login</a>

        <!-- SHOW melding dat profiel gegevens niet compleet zijn als user nog niet aangemaakt werd in local db -->
        <span sec:authorize="isAuthenticated()" th:unless="${userprofile} != null">
            <p th:text="#{ww.vulgegevensaan}">
                <!-- T: Jouw profiel is nog niet compleet.
                Gelieve alle gegevens aan te vullen, vooraleer je een bestelling kan plaatsen. -->
            </p>
            <a class="btn btn-primary btn-margin" href="/profiel" id="profiel" th:text="#{ww.knopvulaan}">
                <!-- T: Vul gegevens aan -->
            </a>
        </span>

    <!-- FORM Leveringsopties -->
        <span th:if="${userprofile} != null">
        <!-- SHOW form als user wel is ingelogd en gekend is in localdb -->
        <form method="post" sec:authorize="isAuthenticated()" th:action="@{~/orderbevestiging}">
            <p th:text="#{ww.leveropties}">
                <!-- T: Leveroptie:  -->
            </p>
            <div class="form-group">
                <div class="form-check">
                  <input checked class="form-check-input" id="winkel" name="leveroptie" type="radio" value="false">
                  <label class="form-check-label" for="winkel" th:text="#{ww.ophalen}">
                      <!-- T: ophalen in de winkel -->
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" id="thuis" name="leveroptie" type="radio" value="true">
                  <label class="form-check-label" for="thuis" th:text="#{ww.thuislevering}">
                      <!-- T: thuislevering -->
                  </label>
                </div>
            </div>

            <!-- BUTTON bevestig -->
            <button class="btn btn-primary" th:text="#{ww.bevestig}" type="submit">
                <!-- T: Bevestig aankoop -->
            </button>
        </form>
        </span>

    </span>

</div>
<!-- FOOTER -->
<div th:insert="~{ footer :: footer }"></div>

</body>
</html>