<!DOCTYPE html>
<html lang="en"
      xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Winkelwagen</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"></head>
<body>
<div th:insert="~{ navbar :: navbar }"></div>
<div class="container">
    <!--    TO DO : internationalisatie!-->
    <h1>Jouw winkelwagen</h1>
    <br>

    <table>
        <tr>
            <td>Item omschrijving     </td>
            <td>Prijs €     </td>
            <td></td>
        </tr>
        <tr th:each="product: ${cart}">
            <td th:text="${product.naam}"></td>
            <td th:text="${product.prijs}"></td>
            <td> <a th:href="'/winkelwagen/'+${productStat.index}">Verwijder</a>
        </tr>
    </table>
    <p>totaalprijs : </p><p th:text="${totaalprijs}"/>
    <br>
    // TODO: if cart is not empty: then show:
    <a href="/orderbevestiging">Bevestig aankoop</a>



</div>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>